# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
aspm_data/processed
metar_data/previous
metar_data/processed
metar_data/raw
notam_data/processed
2_train/M*

2_train/SVM-RFE/

2_train/TRAIN_OVA_BINARY_SVM RF.R

2_train/dev/TRAIN_OVA_BINARY_SVM RF.R

generate_train_script.R alias

*.boxnote

*.Rds
